body {
    font-size: 20px;
    line-height: 1.5;
}

header, main, footer{
    margin: 1.25rem auto;
    max-width: 760px;
}

h1 {
    font-size: 2.5rem;
}

header{
    background-color: #093a3e;
    color: #fff;
    text-align: left;
    padding-left: 5rem;
    padding-top: .25em;
    padding-bottom: .25em;
    margin-bottom: 0;
    font-size: 24px;
    font-family: 'Raleway', sans-serif;
}

img {
    width: 200px;
    margin-top: -80px;
    margin-right: 20px;
    
}

main {
    background-color: #f4fff8;
    padding: 2.5rem;
    margin-top: 0;
    margin-bottom: 0;
    font-family: 'Cormorant Garamond', serif;
}

footer {
    background-color: #093a3e;
    color: #fff;
    text-align: center;
    padding: .5em;
    padding-right: 4.5rem;
    margin-top: 0;
    font-family: "Raleway", Helvetica, sans-serif;
}

hr{
    background-color: #093a3e;
}



